<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>{% block title %}Ecole Théâtre Mots Debout{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/core.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/custom.min.css') }}"/>

    {% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Roboto" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/core.min.js') }}"></script>
    <script src="{{ asset('assets/js/etmd.min.js') }}"></script>
{% endblock %}

</body>
</html>
