<section id="footer">
    <hr class="separator">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-auto text-center">
                <h3 class="section-heading">&Eacute;cole Théâtre Mots Debout</h3>
                <p class="mb-5">
                    5, rue Jean-Baptiste Charcot<br/>
                    17000 La Rochelle<br/>
                    contact@etmd.fr<br/>
                    Tél : 05.46.05.04.01<br/>
                </p>
                <a href="{{ url('mentions_legales') }}">Mentions légales</a><br/>
            </div>

            <div class="col-lg-4 mx-auto text-center">
                <h3 class="section-heading">A Propos</h3>
                <a href="{{ url('ecole') }}">L'école</a><br/>
                <a href="{{ url('nos_amis') }}">Nos amis</a><br/>
                <a href="{{ url('livre_or') }}">Livre d'or</a><br/>
            </div>

            <div class="col-lg-4 mx-auto text-center">
                <a class="btn btn-social-icon btn-facebook fa-2x" href="https://www.facebook.com/ECOLE-Theatre-MOTS-Debout-995416637257172/"><span class="fa fa-facebook txt-red"></span></a>
                <a class="btn btn-social-icon btn-twitter fa-2x" href="https://twitter.com/motsdebout"><span class="fa fa-twitter txt-red"></span></a>
                <!--<a class="btn btn-social-icon btn-google fa-2x"><span class="fa fa-google txt-red"></span></a>-->
                <br>
                <a href="{{ url('nous_contacter') }}">Nous contacter</a>
            </div>

        </div>

    </div>
</section>