

<nav class="navbar navbar-default navbar-fixed-top nav-bck">
    <!-- top nav -->
    <nav class="navbar navbar-top hidden-xs">
        <div class="container">
            <div class="navbar-brand"><a href="{{ url('homepage') }}">ECOLE THEATRE<br>MOTS DEBOUT</a></div>
            <ul class="list-inline pull-right" >
                <li class="right-mega"><a href="{{ url('contactus') }}"><span class="small">Nous contacter</span></a></li>
                <li class="right-mega"><a href="{{ url('admin_homepage') }}"><span class="small">S'identifier</span></a></li>
            </ul>
        </div>
    </nav>
    <!-- down nav -->
    <div class="navgation navbar-bck">
        <ul class="list-inline">
            <li class="non-mega"><a href="#">Cours</a>
                <ul>
                    <li><a href="#" style="padding-left:10px">Cours collectifs</a></li>
                    <li><a href="#" style="padding-left:10px">Cours particuliers</a></li>
                </ul>
            </li>
            <li class="non-mega"><a href="{{ url('workshop') }}">Ateliers</a></li>
            <li class="non-mega"><a href="{{ url('training') }}">Formations</a></li>
            <li class="non-mega"><a href="{{ url('residence') }}">Résidences</a></li>
            <li class="non-mega"><a href="#">Expositions</a></li>
            <li class="non-mega"><a href="#">Spectacles</a></li>
        </ul>
    </div>
</nav>
