<div class="row" id="sample">
    <div class="col s12 m6 push-m3">
        <div class="card medium">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../assets/img/{{ post.imagelink }}">
            </div>
            <div class="card-content">
                <span class="card-title activator text-darken-4">{{ post.title }}<i
                            class="material-icons right">more_vert</i></span>
                <p>{{ post.content | html | truncate(300, true) }}</p>
            </div>

            <div class="card-reveal">
                <span class="card-title text-darken-4">{{ post.title }}
                    <i class="material-icons right">close</i>
                </span>
                <p>{{ post.content | html }}</p>
            </div>
            <!--<a class="halfway-fab waves-effect waves-light right publish">Publié le {{ post.publishedAt|date('d/m/Y') }}</a>-->
            <a class="waves-effect waves-light btn right publish">Publié le {{ post.publishedAt|date('d/m/Y') }}</a>
        </div>
    </div>
</div>

