{% extends 'base.html.twig' %}

{% block body %}

    <section class="background-red page-section" id="cours_particuliers">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto text-center">
                    <h1 class="section-heading text-white">Cours particuliers</h1>
                    <h2 class="text-white mb-4">
                        Préparation aux concours des écoles nationales et
                        des conservatoires.<br>
                        Bases, perfectionnement et concours.<br>
                    </h2>
                </div>
            </div>
        </div>
    </section>

    <section class="background-red">
        <div class="container">
            <h3 class="text-red-faded">Apprendre ou consolider les techniques de base, se perfectionner, cheminer
                une recherche.
            </h3>
            <h3 class="text-red-faded">Préparer les concours des écoles nationales et des conservatoires. Choix des
                scènes du répertoire, travail des situations, des personnages, du style et du
                jeu.
            </h3>
            <h3 class="text-red-faded">Les cours particuliers offrent un calendrier à la carte.
            </h3>

            <div class="row">
                <div class="col-lg-12 button-box">
                    <a href="#" class="button">Renseignements</a>
                </div>
            </div>
        </div>
    </section>


    <section class="text-white">
        <div class="container ">
            <h2 class="mb-4 text-red">Réussite des élèves</h2>
            <div class="row ">
                <div class="col-lg-4 mx-auto" style="height:200px;">
                    <div class="media mb-1 text-red">
                        <a class="media-left waves-light">
                            <img class="rounded-circle" src="{{ asset('assets/img/eleves/gaïa_berthommé.jpg') }}"
                                 alt="Generic placeholder image">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Gaïa Berthommé</h4>
                            <a href="http://lelftp.com/">Laboratoire de théâtre physique à Montreuil</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mx-auto">
                    <div class="media mb-1 text-red">
                        <a class="media-left waves-light">
                            <img class="rounded-circle" src="{{ asset('assets/img/eleves/audrey_caille.png') }}">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Audrey Caille</h4>
                            <a href="http://www.conservatoire-rennes.fr/">Conservatoire de Rennes</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mx-auto">
                    <div class="media mb-1 text-red">
                        <a class="media-left waves-light">
                            <img class="rounded-circle" src="{{ asset('assets/img/eleves/maud_lassignardie.png') }}">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Maud Lassignardie</h4>
                            <a href="http://www.ecoleclaudemathieu.com/">&Eacute;cole Claude Mathieu à Paris</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mx-auto">
                    <div class="media mb-1 text-red">
                        <a class="media-left waves-light">
                            <img class="rounded-circle" src="{{ asset('assets/img/eleves/tristan_pelseneer.png') }}">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Tristan de Pelseneer</h4>
                            <a href="http://conservatoire-grandavignon.tumblr.com/">Conservatoire d'Avignon</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mx-auto">
                    <div class="media mb-1 txt-red">
                        <a class="media-left waves-light">
                            <img class="rounded-circle"
                                 src="{{ asset('assets/img/eleves/kayiane_lacoste-boghossian.png') }}">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Kayiané Lacoste-Boghossian</h4>
                            <a href="http://evasaintpaul.wixsite.com/evasaintpaul">&Eacute;cole Eva
                                    Saint-Paul à Paris</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mx-auto">
                    <div class="media mb-1 txt-red">
                        <a class="media-left waves-light">
                            <img class="rounded-circle" src="{{ asset('assets/img/eleves/antonin_ambard.png') }}">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Antonin Ambard</h4>
                            <a href="http://www.theatredujour.com/">&Eacute;cole Pierre Debauche à
                                    Agen</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container ">
            <hr style="border-top: 5px solid rgba(94, 22, 22, 1);max-width:50%">
        </div>
    </section>
{% endblock %}

