{% extends 'base.html.twig' %}

{% block title %}Cours collectifs{% endblock %}

{% block header %}
    <header class="collapse cours-collectifs">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col s12 center-align">
                        <div id="header-main-title">
                            <h1>Cours collectifs</h1>
                            <h2 class="subTitle"> De septembre à juin <br>
                                Conduits par Catherine Rouzeau</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
{% endblock %}



{% block body %}
    <section class="background-red">
        <div class="container">
            <h3 class="section-heading text-white" style="font-weight: 700">Débutants/Entrainement Niveau 1-2</h3>
            <p class="text-red-faded">
                Apprentissage des bases techniques : respiration, voix, diction, corps. Pratique de l’interprétation et
                du jeu sur des scénes du répertoire classique et contemporain. 2 représentations en public fin juin
                début juillet.
            </p>
            <p class="text-white">
                <b>Accueil toute l’année</b>
            </p>

            <h3 class="section-heading text-white" style="font-weight: 700">Perfectionnement Niveau 3</h3>
            <p class="text-red-faded">Ouvert aux élèves ayant suivi 2 ans de formation dans l’école et qui ont acquis
                les techniques de base. Le groupe est immuable et établi en juin. Une œuvre du répertoire est montée. De
                5 à 7 représentations en public fin juin début juillet.
            </p>
            <hr>
            <div class="row">
                <div class="col-lg-6 button-box">
                    <a href="#" class="button">Renseignements et inscription</a>
                </div>
                <div class="col-lg-6 text-right button-box">
                    <a href="{{ url('spectacles') }}" class="button">Date des représentations</a>
                </div>
            </div>
        </div>
    </section>

    <!-- -->
    <section class="text-white" style="min-height:550px">
        <div class="container">
            <div id="myCarousel2" class="carousel slide" data-ride="carousel">

                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel2" data-slide-to="1"></li>
                    <li data-target="#myCarousel2" data-slide-to="2"></li>
                    <li data-target="#myCarousel2" data-slide-to="3"></li>
                    <li data-target="#myCarousel2" data-slide-to="4"></li>
                    <li data-target="#myCarousel2" data-slide-to="5"></li>
                    <li data-target="#myCarousel2" data-slide-to="6"></li>
                </ol>

                <!-- Content -->
                <div class="carousel-inner">
                    <div class="item carousel-item active">
                        <div class="_img-box-full"><img
                                    src="{{ asset('assets/img/cours_collectifs/cours_collectifs_01.png') }}" alt="">
                        </div>
                    </div>
                    <div class="item carousel-item">
                        <div class="_img-box-full"><img
                                    src="{{ asset('assets/img/cours_collectifs/cours_collectifs_02.png') }}" alt="">
                        </div>
                    </div>
                    <div class="item carousel-item">
                        <div class="_img-box-full"><img
                                    src="{{ asset('assets/img/cours_collectifs/cours_collectifs_03.png') }}" alt="">
                        </div>
                    </div>
                    <div class="item carousel-item">
                        <div class="_img-box-full"><img
                                    src="{{ asset('assets/img/cours_collectifs/cours_collectifs_04.png') }}" alt="">
                        </div>
                    </div>
                    <div class="item carousel-item">
                        <div class="_img-box-full"><img
                                    src="{{ asset('assets/img/cours_collectifs/cours_collectifs_05.png') }}" alt="">
                        </div>
                    </div>
                    <div class="item carousel-item">
                        <div class="_img-box-full"><img
                                    src="{{ asset('assets/img/cours_collectifs/cours_collectifs_06.png') }}" alt="">
                        </div>
                    </div>
                    <div class="item carousel-item">
                        <div class="_img-box-full"><img
                                    src="{{ asset('assets/img/cours_collectifs/cours_collectifs_07.png') }}" alt="">
                        </div>
                    </div>

                </div>
                <!-- Carousel controls -->
                <a class="carousel-control left carousel-control-prev background-red" href="#myCarousel2"
                   data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="carousel-control right carousel-control-next background-red" href="#myCarousel2"
                   data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </section>

    <section>
        <div class="container ">
            <hr style="border-top: 5px solid rgba(94, 22, 22, 1);max-width:100%">
        </div>
    </section>

{% endblock %}

