{% extends 'base.html.twig' %}


{% block title %}Nos amis{% endblock %}

{% block header %}
    <header class="collapse background-red">
        <section>
            <h1>Nos amis</h1>
        </section>
    </header>
{% endblock %}



{% block body %}
    <section class="text-white" id="about">
        <div class="container-fluid">
            <div class="row ">

                <div class="col-lg-2 mx-auto card" style="width: 18rem;margin-top:10px">
                    &nbsp;
                    <a class="text-red" href="https://ciealmeria17.wixsite.com/alm17">
                        <img class="card-img-top" src="{{ asset('assets/img/amis/Compagnie_Almeria.png') }}"
                             alt="Compagnie Almeria">
                    </a>
                    &nbsp;
                </div>

                <div class="col-lg-2 mx-auto card" style="width: 18rem;margin-top:10px">
                    &nbsp;
                    <a class="text-red" href="https://www.cieplanchefamille.com/">
                        <img class="card-img-top" src="{{ asset('assets/img/amis/compagnie_planche_famille.png') }}"
                             alt="Compagnie Planche Famille">
                    </a>
                    &nbsp;
                </div>

                <div class="col-lg-2 mx-auto card" style="width: 18rem;margin-top:10px">
                    &nbsp;
                    <a class="text-red" href="https://www.compagnieterresauvage.com/">
                        <img class="card-img-top" src="{{ asset('assets/img/amis/compagnie_terre_sauvage.png') }}"
                             alt="Compagnie Terre Sauvage">
                    </a>
                    &nbsp;
                </div>

                <div class="col-lg-2 mx-auto card" style="width: 18rem;margin-top:10px">
                    &nbsp;
                    <a class="text-red" href="http://www.lavieestailleurs.com/">
                        <img class="card-img-top" src="{{ asset('assets/img/amis/compagnie_la_vie_est_ailleurs.png') }}"
                             alt="Compagnie La Vie Est Ailleurs">
                    </a>
                    &nbsp;
                </div>

                <div class="col-lg-2 mx-auto card" style="width: 18rem;margin-top:10px">
                    &nbsp;
                    <a class="text-red" href="http://www.cie-equipages.fr/">
                        <img class="card-img-top" src="{{ asset('assets/img/amis/compagnie_equipage.png') }}"
                             alt="Compagnie Equipage">
                    </a>
                    &nbsp;
                </div>

                <div class="col-lg-2 mx-auto card" style="width: 18rem;margin-top:10px">
                    &nbsp;
                    <a class="text-red" href="http://les4chapeaux.fr/">
                        <img class="card-img-top" src="{{ asset('assets/img/amis/les-quatre-chapeaux.png') }}"
                             alt="Les 4 chapeaux">
                    </a>
                    &nbsp;
                </div>

                <div class="col-lg-2 mx-auto card" style="width: 18rem;margin-top:10px">
                    &nbsp;
                    <a class="text-red" href="http://amusegueulesconteurs.wixsite.com/amusegueulesconteurs">
                        <img class="card-img-top" src="{{ asset('assets/img/amis/amuse_gueules.png') }}"
                             alt="Amuse Gueules">
                    </a>
                    &nbsp;
                </div>

                <div class="col-lg-2 mx-auto card" style="width: 18rem;margin-top:10px">
                    &nbsp;
                    <a class="text-red" href="https://www.facebook.com/association.oremi/">
                        <img class="card-img-top" src="{{ asset('assets/img/amis/oremi.png') }}"
                             alt="Oremi">
                    </a>
                    &nbsp;
                </div>
                <div class="col-lg-2 mx-auto card" style="width: 18rem;margin-top:10px">
                    &nbsp;
                    <a class="text-red" href="http://www.lavalisedepoche.fr/">
                        <img class="card-img-top" src="{{ asset('assets/img/amis/compagnie_valise_de_poche.png') }}"
                             alt="Compagnie La Valise De Poche">
                    </a>
                    &nbsp;
                </div>

            </div>


        </div>

    </section>

{% endblock %}

