{% extends 'base.html.twig' %}

{% block body %}

    <section class="bg-primary page-section" id="expositions">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto text-center ">
                    <h1 class="section-heading text-white">Nos amis</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="background-red" id="about">
        <div class="container-fluid">
            <div class="row ">

                <div class="col-lg-2 mx-auto card" style="width: 18rem;margin-top:10px">
                    <img class="card-img-top" src="{{ asset('assets/img/amis/Compagnie_Almeria.png') }}"
                         alt="Card image cap">
                </div>

                <div class="col-lg-2 mx-auto card" style="width: 18rem;margin-top:10px">
                    <a class="text-red" href="https://www.cieplanchefamille.com/ยง">
                        <img class="card-img-top" src="{{ asset('assets/img/amis/compagnie_planche_famille.png') }}"
                             alt="Card image cap">
                    </a>
                </div>

                <div class="col-lg-2 mx-auto card" style="width: 18rem;margin-top:10px">
                    <a class="text-red" href="https://www.compagnieterresauvage.com/">
                        <img class="card-img-top" src="{{ asset('assets/img/amis/compagnie_terre_sauvage.png') }}"
                             alt="Card image cap">
                    </a>
                </div>

                <div class="col-lg-2 mx-auto card" style="width: 18rem;margin-top:10px">
                    <a class="text-red" href="http://www.lavieestailleurs.com/">
                        <img class="card-img-top" src="{{ asset('assets/img/amis/compagnie_la_vie_est_ailleurs.png') }}"
                             alt="Card image cap">
                    </a>
                </div>

                <div class="col-lg-2 mx-auto card" style="width: 18rem;margin-top:10px">
                    <a class="text-red" href="http://www.cie-equipages.fr/">
                        <img class="card-img-top" src="{{ asset('assets/img/amis/compagnie_equipage.png') }}"
                             alt="Card image cap">
                    </a>
                </div>

                <div class="col-lg-2 mx-auto card" style="width: 18rem;margin-top:10px">
                    <a class="text-red" href="http://les4chapeaux.fr/">
                        <img class="card-img-top" src="{{ asset('assets/img/amis/les-quatre-chapeaux.png') }}"
                             alt="Card image cap">
                    </a>
                </div>

                <div class="col-lg-2 mx-auto card" style="width: 18rem;margin-top:10px">
                    <a class="text-red" href="http://amusegueulesconteurs.wixsite.com/amusegueulesconteurs">
                        <img class="card-img-top" src="{{ asset('assets/img/amis/amuse_gueules.png') }}"
                             alt="Card image cap">
                    </a>
                </div>

                <div class="col-lg-2 mx-auto card" style="width: 18rem;margin-top:10px">
                    <a class="text-red" href="https://www.facebook.com/association.oremi/">
                        <img class="card-img-top" src="{{ asset('assets/img/amis/oremi.png') }}"
                             alt="Card image cap">
                    </a>
                </div>


            </div>


        </div>
    </section>


{% endblock %}

