<section class="p-0" id="portfolio">
    <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">

            <!-- -->
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{{ url('cours_collectifs') }}">
                    <img class="img-fluid" src="{{ asset('assets/img/tuiles/cours_collectifs.png')}}" alt="">
                    <div class="portfolio-box-caption background-red ">
                        <div class="portfolio-box-caption-content text-red-faded">
                            <div class="project-category">
                                Cours collectifs
                            </div>
                            <div>
                                De septembre à juin
                            </div>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{{ url('cours_particuliers') }}">
                    <img class="img-fluid" src="{{ asset('assets/img/tuiles/cours_particuliers.png') }}" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content text-red-faded">
                            <div class="project-category">
                                Cours particuliers
                            </div>
                            <div>
                                Préparation aux concours des écoles nationales<br> et des conservatoires
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{{ url('ateliers') }}">
                    <img class="img-fluid" src="{{ asset('assets/img/tuiles/ateliers.png')}}" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content text-red-faded">
                            <div class="project-category">
                                Ateliers découvertes des disciplines de l'art vivant
                            </div>
                            <div>
                                Conduits par des artistes professionnels
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{{ url('stages') }}">
                    <img class="img-fluid" src="{{ asset('assets/img/tuiles/stages.png')}}" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content text-red-faded">
                            <div class="project-category">
                                Stages de théâtre
                            </div>
                            <div>
                                Bientôt
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{{ url('spectacles') }}">
                    <img class="img-fluid" src="{{ asset('assets/img/tuiles/spectacles.png')}}" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content text-red-faded">
                            <div class="project-category">
                                Spectacles
                            </div>
                            <div>
                                En public
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{{ url('formations') }}">
                    <img class="img-fluid" src="{{ asset('assets/img/tuiles/formations.png')}}" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content text-red-faded">
                            <div class="project-category">
                                Formations
                            </div>
                            <div>
                                Jeu, lecture, oralité
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- -->
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{{ url('residences') }}">
                    <img class="img-fluid" src="{{ asset('assets/img/tuiles/residences.png')}}" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content text-red-faded">
                            <div class="project-category">
                                Résidences
                            </div>
                            <div>
                                Spectacles en création
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- -->
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{{ url('expositions') }}">
                    <img class="img-fluid" src="{{ asset('assets/img/tuiles/expositions.png')}}" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content text-red-faded">
                            <div class="project-category">
                                Expositions
                            </div>
                            <div>
                                Le théâtre ouvre à tous les Arts
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- 
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{{ url('ateliers_recherche') }}">
                    <img class="img-fluid" src="{{ asset('assets/img/tuiles/rideau.png')}}" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded-red">
                                Ateliers recherche
                            </div>
                            <div class="project-name">
                                En devenir
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            -->
        </div>
    </div>
</section>