{% extends 'base.html.twig' %}

{% block body %}
    {% include "@Admin/admin.html.twig" %}
    <div class="container">
        <div class="jumbotron">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>


                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Créé le <b>{{ post.createdAt |date('d/m/Y') }}</b></a></li>
                        {% if post.publishedAt  %}
                            <li><a href="#">Publié le <b>{{ post.publishedAt |date('d/m/Y') }}</b></a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{{ path('admin_post_index') }}"><i class="fa fa-reply fa-2x" aria-hidden="true"></i></a>
                        </li>

                    </ul>
                </div><!--/.nav-collapse -->
            </nav>



            <nav class="navbar navbar-inverse">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url('admin_post_index') }}">{{ post.title }}</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="alert-success"><a href="#">{{ post.statusString }}</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </nav>
            {{ post.content | escape }}
        </div>
    </div>
{% endblock %}
