{% extends "base.html.twig" %}



{% trans_default_domain "login" %}
{% block body %}
	<link rel="stylesheet" href="{{ asset('assets/css/login.css') }}"/>

	<div class = "container">
		<div class="wrapper">
            {{ form_start(form_login, {'attr': {'class': 'form-signin'}}) }}
				<h3 class="form-signin-heading">Ecole Théâtre Mots Debout</h3>
				<hr class="colorgraph"><br>
            	{% if error %}
					<div class="alert alert-danger">
                    	{{ error.messageKey|trans(error.messageData) }}
					</div>
            	{% endif %}
            	{{ form_widget(form_login._email) }}
            	{{ form_widget(form_login._password) }}
            	{{ form_widget(form_login.save) }}
				<div class="input-group">
					<div class="checkbox">
						<label>
                            {{ form_widget(form_login._remember_me) }}&nbsp;Se souvenir de moi
						</label>
					</div>
			</div>
            {{ form_end(form_login) }}
		</div>
	</div>
{% endblock %}
