{% extends "base.html.twig" %}



{% trans_default_domain "login" %}
{% block body %}
    <nav class="navbar navbar-default navbar-fixed-top nav-bck">
        <!-- top nav -->
        <nav class="navbar navbar-top hidden-xs">
            <div class="container">
                <div class="navbar-brand"><a href="{{ url('homepage') }}">ECOLE THEATRE<br>MOTS DEBOUT</a></div>
            </div>
        </nav>
    </nav>

    <section class="login cover-login">
        <div class="row">
            <div class="col-md-12 " >
                <div class="wrap">
                    {{ form_start(form_login, {'attr': {'class': 'login'}}) }}
                    {{ form_widget(form_login._email) }}
                    {{ form_widget(form_login._password) }}
                    {{ form_widget(form_login.save) }}
                    <div class="remember-forgot">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="checkbox">
                                    <label>{{ form_widget(form_login._remember_me) }}Se souvenir de moi</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form_login) }}
                </div>
            </div>
        </div>

    </section>
{% endblock %}
