{% extends 'base.html.twig' %}

{% block body %}
    {% include "@Admin/admin.html.twig" %}

    <div class="container">
        <div class="jumbotron">
            <nav class="navbar navbar-default">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ url('admin_user_index') }}">Comptes utilisateurs</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="{{ path('admin_user_new') }}">
                                    <i class="fa fa-plus-square fa-2x" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
            </nav>

            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Rôle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td><a href="{{ path('admin_user_edit', { 'id': user.id }) }}">{{ user.name }}</a></td>
                        <td>{{ user.email }}</td>
                        <td>
                            {{ user.rolesString }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
